body
{
background-color:#fff6f1;
font-family:"Helvetica",Arial;
}

#contenido
{
width:960px;
margin:0 auto;
text-align:center;
}

h1
{
padding: 10px;
color:#FF8000;
}
h3
{
padding:3px;
color:#FF8000;
}
 li
{
display:inline-block;
margin-right:20px;
color:blue;
cursor:pointer;
}

 ul {
    width: 900px;
  	list-style-type: none;
	margin: 25px;
	padding: 0px;
}


#textopr
{
width:650px;
height:315px;
background-color:#393B0B;
color:#fff;
margin:0 auto;
text-align:center;
border-radius:50px;
}

a{
color:#B40431;
font-weight:bold;
}



meter
{
width:200px;
margin-left:20px;
background-color:#FFF;
padding:5px;
color:#e44e2d;
}

label
{
display:block;
}

#calificaion
{
width:150px;
-webkit-appearance:none;
background-color:#FFF;
height:20px;
border-radius:5px;
cursor:pointer;
}

#calificaion::-webkit-slider-thumb
{
background-color:#e33e2d;
border-radius:10px;
height:15px;
width:10px;
}


#mediac
{
box-sizing:border-box;
}

.particion
{
display:inline-block;
width:45%;
}

#mediac audio
{
width:200px;
}

#mediac video
{
height:180px;
}

navul li:hover
{
background-color:#1d1d1d;
color:#e44e2d;
border-radius:5px;
}
